version: "3.8"

services:
  social-api:
    build: ./api
    container_name: social-api
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    depends_on:
      - minio

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: test
      MINIO_ROOT_PASSWORD: test
    ports:
      - "4566:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  mc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        sleep 5;
        mc alias set local http://minio:9000 test test;
        mc mb -p local/my-bucket;
        mc anonymous set public local/my-bucket;
        exit 0;
      "

volumes:
  minio_data:
